* {
  box-sizing: border-box;
}

html {
  background: #778675;
  height: 100%;
}

.main_page__title {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: block;
}

.main_page_h1 {
  display: flex;
  position: center;
  width: auto;
  justify-content: center;
}

#cta_button {
  margin: 0 auto;
  display: block;
  align-content: center;
  background: #ccc;
  border: solid 2px;
  cursor: pointer;
  vertical-align: middle;
  width: 90px;
  height: 45px;
  font-weight: bold;
  font-size: 100%;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 2s linear;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}


