* {
  box-sizing: border-box;
}

html {
  background: #778675;
  height: 100%;
}

.main_page__title {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: block;
}

.main_page_h1 {
  display: flex;
  position: center;
  width: auto;
  justify-content: center;
}

#cta_button {
  margin: 0 auto;
  position: center;
  display: block;
  align-content: center;
  background: #ccc;
  border: solid 2px;
  cursor: pointer;
  vertical-align: middle;
  width: 90px;
  height: 45px;
  font-weight: bold;
  font-size: 100%;
}

.modal {
  display: none; /* Hidden by default */
  font-family: monospace;
  text-align: center;
  font-size: large;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin:0;
  padding: 0;
  width: 100%; /* Full height */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

